@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('../src/vars.css');
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}

[data-theme='light'] {
  background-color: var(--mainBgColor-light);
  color: var(--mainTextColor-light);
}
[data-theme='dark'] {
  background-color: var(--mainBgColor-dark);
  color: var(--mainTextColor-dark);
}

#page-wrapper {
  width: 70vw;
  margin: 0 auto;
}

#section-page {
  margin-top: 50px;
  margin-bottom: 20px;
  border-top: 1px solid var(--mainBorderColor);
}

li,
a,
span {
  text-decoration: none;
  list-style: none;
  color: var(--secLinkColor-light);
}
li:hover,
a:hover {
  color: var(--mainLinkColor-light);
}

.section-hero {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.my-pic {
  width: 200px;
  height: 200px;
  background: rgb(226, 226, 226);
  border-radius: 50%;
}

.resume-header h1 {
  font-size: 3rem;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
  font-size: 1.5rem;
}
.desc-exp {
  padding-left: 20px;
}

.projects {
  display: flex;
  flex-direction: column;
}

.projects li {
  display: flex;
  flex-direction: column;
  color: var(--mainTextcolor-light);
}

#mode {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 100px;
}
