.toggle-switch {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 5px;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  display: block;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
}

.toggle-inner {
  display: block;
  width: 15px;
  height: 15px;
  margin: 4px;
  background-color: #fff;
  border-radius: 50%;
  transition: margin-left 0.3s;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #007bff;
}

.toggle-checkbox:checked + .toggle-label .toggle-inner {
  margin-left: 20px;
}

.experience {
  line-height: 1.7;
}
